{% extends 'base.html' %}

{% block content %}

    <h1>Lista de Sequencias</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Tipo Seq.</th>
                <th>Download</th>
            </tr>
        </thead>

        <tbody>
            {% for seq in sequencia %}
             <tr>
                <th>{{seq.titulo}}</th>
                <th>{{seq.tipo}}</th>
                <th><a href="{{ seq.fasta.url }}" class="btn btn-primary btn-sm" download>Download Sequência</a></th>
             </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}